 <div class='form'>
      <form method='POST' action='/product-edit'>
        <div class='form__content'>
          <h3 class='form__title'>Edit product</h3>
          <div class='form__field'>
            <label
              for='productName'
              class='form__label'
            >Product name:</label>
            <input
              type='text'
              name='productName'
              class='form__input'
			   value={{name}}
            />
          </div>

          <div class='form__field'>
            <label
              for='price'
              class='form__label'
            >Price:</label>
            <input
              type='number'
              name='price'
              class='form__input'
			  value={{price}}
            />
          </div>

          <div class='form__field'>
            <label
              for='description'
              class='form__label'
            >Description:</label>
            <input
              type='text'
              name='description'
              class='form__input'
			  value={{description}}
            />
          </div>

          <div>
			<button class='form__button'>Save</button>
			<button class='form__button form__button__delete'>Delete product</button>
		  </div>
		
        </div>
      </form>
    </div>
  </section>
