 <div class='form'>
      <form method='POST' action='/product-edit'>
        <div class='form__content'>
          <h3 class='form__title'>Edit product</h3>
		  {{#with data}}
          <div class='form__field'>
            <label
              for='productName'
              class='form__label'
            >Product name:</label>
            <input
              type='text'
              name='productName'
              class='form__input'
			   value={{[name]}}
            />
          </div>

		  <div class='form__field'>
            <label
              for='productName'
              class='form__label'
            >ID:</label>
            <input
              type='number'
              name='id'
              class='form__input'
				value={{id}}
            />
          </div>

          <div class='form__field'>
            <label
              for='price'
              class='form__label'
            >Price:</label>
            <input
              type='number'
              name='price'
              class='form__input'
			  value={{price}}
            />
          </div>

          <div class='form__field'>
            <label
              for='description'
              class='form__label'
            >Description:</label>
            <input
              type='text'
              name='description'
              class='form__input'
			  value={{description}}
            />
          </div>

          <div class="buttons">
			<a href="/product-edit" class='form__button' id="saveButton">Save</a>
			<a href="/product-delete" class='form__button form__button__delete' id="deleteButton">Delete product</a>
		  </div>
		{{/with}}
        </div>
      </form>
    </div>
  </section>
