<main class='main'>
  <div class='main__content'>
    <h1 class='title title--center'>Create...</h1>
    <ul class='choose'>
      <a href='/spotify-create'>
        <li class='choose__item'>
          <img
            src='/svg/spotify/choose_1.svg'
            alt='icon'
            class='choose__image'
          />
          <div class='choose__content'>
            <strong class='title'>Playlist</strong>
            <p class='choose__text'>Create a playlist with
              songs</p>
          </div>
        </li>
      </a>

      <a href='/spotify-create?isMix=true'>
        <li class='choose__item'>
          <img
            src='/svg/spotify/choose_2.svg'
            alt='icon'
            class='choose__image'
          />
          <div class='choose__content'>
            <strong class='title'>Playlist mix</strong>
            <p class='choose__text'>Create a playlist with
              songs or episods</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</main>