{{#with data}}
  <main class='main'>
    <div class='main__content'>
      <div class='card'>
        <div>
          <h1>{{status}}</h1>
          <h2>{{info}}</h2>
        </div>
        <a class='button' href={{href}}>Go back to '{{openPage}}'</a>
      </div>
    </div>
  </main>
{{/with}}