@use '../../lib/service.scss' as s;
@use '../../lib/spotify.scss' as spotify;

.add-button {
  display: grid;
  grid-template-columns: 96px 1fr;
  align-items: center;
  gap: s.space(6);
  color: s.color(light);
  font-size: 18px;
}

.tracks-card {
  background-color: s.color(dark-gray);
  padding: s.space(4) s.space(6);
  border-radius: 10px;
}
