<main class='main'>
    <h1 class='title'>Products</h1>

  <div class="purchase-product-list">
	{{>purchase-product-card data=data}}
	{{>purchase-product-card data=data}}
	{{>purchase-product-card data=data}}
	{{>purchase-product-card data=data}}
	{{>purchase-product-card data=data}}
	{{>purchase-product-card data=data}}
  </div>
</main>