@use '../../lib/service.scss' as s;
@use '../../component/button/style.scss' as button;

.product-card {
  border: 1px s.color('light');
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  gap: s.space(3);

  &__img {
    max-height: 250px;
    width: 250px;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__description {
    color: #696969;
  }

  &__category {
    border: 1px solid transparent;
    border-radius: 30px;
    padding: s.space(1) s.space(3);
    font-size: 14px;

    &--1 {
      border-color: s.color(blue);
      color: s.color(blue);
    }
    &--2 {
      border-color: s.color(green);
      color: s.color(green);
    }
  }

  &__button {
    border: 1px solid s.color('light');
    padding: s.space(3);
    border-radius: 6px;
    color: s.color('light');
    background-color: s.color(blue);
    transition: opacity 0.3s ease;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
}
// .product-card__category--1 {
//   border-color: s.color('blue');
//   color: s.color('blue');
// }
